@use '../../styles/_variables' as *
@use '../../styles/_mixins' as *


.main-signUp
  background-image: url("../../assets/images/wallpaper2.png")
  background-size: cover
  height: 100vh
  display: flex
  justify-content: center
  align-items: center

.sign-up
  width: 394px
  height: 674px
  background: $light-color
  border-top-left-radius: 73px
  border-top-right-radius: 73px
  display: flex
  flex-direction: column
  align-itmes: center
  margin-top: 438px


  .check-input, .radio-input
    opacity: 0
  .check-label, .radio-label
    cursor: pointer
    border-radius: 20px
    background-color: rgba($tertiary-color, 0.37)
    padding: 10px
    font-size: 1.2rem
    letter-spacing: 0.3px
  .radio-label
    font-size: 1.4rem
    
.userPaciente
  width: 150px
  height: 150px
  margin: auto // Centrar horizontal y verticalmente
  position: absolute
  top: -550px
  left: 0
  right: 0
  bottom:0
  
